/* Write your custom CSS here */

.panel .panel-heading.panel-heading-with-stickers .panel-title{
    display:block!important;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    margin-right: 50px;
    float: none;

    font-size: 15px;
}
.panel .panel-heading.panel-heading-with-stickers .panel-control{
    margin-top: -18px;
}

.label.label-disabled {
    background: #a5a5a5;
}

#sticker_sortable .panel-white .panel-body{
    position: relative;
    padding: 5px;
}
#sticker_sortable .panel-white .panel-body .panel-body-tool {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px;
    background: rgba(0,0,0,0.1);
}
#sticker_sortable .btn.btn-xs {
    line-height: inherit;
}

/* selectable class */
#sticker_sortable .sticker-item-selectable .panel-body {
    cursor: pointer;
}

#sticker_sortable .sticker-item-selectable .panel-body-tool {
    display: none;
}

#sticker_sortable .sticker-item-selectable .panel-body .panel-body-highlight {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,183,218,0.2);
    border:1px solid rgba(0,183,218,1);
    display: none;
}

#sticker_sortable .sticker-item-selectable.ui-selected .panel-body .panel-body-highlight {
    display: block;
}
#sticker_sortable .sticker-item-selectable.ui-selecting .panel-body .panel-body-highlight {
    display: block;
}

#sticker_sortable .sticker-item-placeholder {
    background: rgba(0,183,218,0.2);
    border:1px dashed rgba(0,183,218,1);
}